/*================ IMPORT COLORS ===============*/
@import "./userColors.css";

@import "./custom_css/sideberry.css";
@import "./custom_css/sidebar.css";
@import "./custom_css/fonts.css";
@import "./custom_css/buttons.css";


@import "./custom_css/remove_megabar.css";
@import "./custom_css/extensions.css";
@import "./custom_css/context_menu.css";


#nav-bar-customization-target {
    background-color : var(--secondary_bg_color)  !important;
}

#nav-bar {
    box-shadow : none !important;
}
#navigator-toolbox {
    border-top: 1px solid var(--primary_bg_color)  !important;
    border-bottom: 1px solid var(--border_color_2)  !important;
}
/* 
.tab-stack {
    display: none !important;
} */

.tabbrowser-tab{
    color: red;
}