/* REMOVE MEGABAR START
 * VERSION 1.0.4
 * CODE AT: http://userchrome.wesleybranton.com/megabar
 * RELEASE NOTES: http://userchrome.wesleybranton.com/notes/megabar */
 @-moz-document url(chrome://browser/content/browser.xhtml) {
    /* DISABLE EXPANDING START */
    #urlbar[breakout][breakout-extend] {
        top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
        left: 0 !important;
        width: 100% !important;
        border: 5px solid red;

    }
    #urlbar[breakout][breakout-extend] { border : none !important; }
    #urlbar[breakout][breakout-extend] > #urlbar-input-container {
        height: var(--urlbar-height) !important;
        padding-block: 0 !important;
        padding-inline: 0 !important;
    }
    /* DROPDOWN MENU */   
    #urlbar[breakout][breakout-extend] > #urlbar-background {
        animation-name: none !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .9) !important;
    }
    /* DISABLE EXPANDING END */
    
    /* REMOVE URL RESULT PADDING START */
    .urlbarView {
        margin-inline: 0 !important;
        width: 100% !important;
        padding: 5px !important;
    }
  
    .urlbarView-row {
        padding-block: 10 !important;
    }
    /* REMOVE URL RESULT PADDING END */
    
    /* MOVE URL RESULT TYPE ICON TO LEFT START */
    .urlbarView-type-icon {
        min-width: 16px !important;
        height: 16px !important;
        margin-bottom: 0 !important;
        margin-inline-start: 0 !important;
    }
    
    .urlbarView-favicon {
        margin-inline-start: 20px !important;
    }
    /* MOVE URL RESULT TYPE ICON TO LEFT END */
  
    /* DISPLAY GO BUTTON WHEN TYPING START */
    #urlbar-input-container[pageproxystate="invalid"] #urlbar-go-button {
        display: block !important;
    }
    /* DISPLAY GO BUTTON WHEN TYPING END */
  
    /* ALWAYS SHOW PAGE ACTIONS START */
    /* DISABLED BY DEFAULT - UNCOMMENT TO ENABLE */
    /*#pageActionButton {
        display: block !important;
    }*/
    /* ALWAYS SHOW PAGE ACTIONS END */
  }
  /* REMOVE MEGABAR END */
  #urlbar {	
    /* border-radius: 15px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 0px !important;  */
    padding-left: 5px;
    padding-right: 5px;
    min-height: 30px !important;
    /* margin-top: -x !important; */
    /* margin-bottom: -4px !important; */
    color: var(--primary_text_color);

  }

  
  #urlbar[breakout][breakout-extend] #urlbar-background {
    border-color: red !important;
    border-width: 0px !important; 
    background-color: var(--tertiary_bg_color) !important ;

    }
  

  #urlbar-background {
      /* background-color: var(--primary_bg_color) !important ; */
      /* background-color: var(--secondary_bg_color) !important ; */

      /* border: 1px solid var(--border-color) !important; */
    border : none !important;
      /* border-color: black !important; */

      padding: 0px !important;
      color: var(--primary_text_color);
      border-radius: 3px !important;
  }  

  
@media (prefers-color-scheme: light) {
    #urlbar-background { 
        background-color: #ffffff !important;
        /* border: 1px solid  var(--border_color_2) !important; */
        border: 1px solid  var(--border_color_3) !important;

        box-shadow: 0 1px 1px rgba(0, 0, 0, .1)  !important;
        /* box-shadow: 0px 0px 2px var(--border_color_2) !important; */
     }
}
@media (prefers-color-scheme: dark) {
    #urlbar-background { background-color: #1a1a1a !important; }
}


/*########## urlbar separator##########*/
#tracking-protection-icon-container,#pageActionSeparator{
     border-inline-width: 0px !important;
}

/************** remove 3 dot button ****************/
#pageActionButton {
  display: none !important;
}

/*********** remove urlbar dropdown addressbar underline *************/
.urlbarView div {border-color: transparent !important;}

/**************  urlbar selected element ***********/

.urlbarView-row[selected] .urlbarView-row-inner {
  background-color: var(--accent_color) !important;
  color: var(--accent_fg_color)  !important;
  }


/*************** urlbar highghted element color **********/

#urlbar ::-moz-selection,

.searchbar-textbox ::-moz-selection {

    background-color: var(--accent_color) !important;
    color: var(--accent_fg_color)  !important;
/* color: #000 !important; */

}

#urlbar ::selection {
	background: var(--accent_color) !important;
	/* color: #ffff !important; */
}