/* Make the "title changed" notification dot on pinned tabs tiny */
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged] {
    background-position: center top !important;
    background-size: 10px !important;
  }

/* Completely hide the "title changed" notification dot on pinned tabs */
  /* .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged] {
    background-image: none !important;
  } */

